<footer class="mt-8 text-gray-700 bg-gray-50 sm:mt-16">
  <div
    class="py-8 bg-gray-100 border-b border-dashed border-b-gray-200 lg:py-16"
  >
    <div class="container grid gap-8 grid-col-1 lg:grid-cols-6 lg:gap-6">
      <div class="lg:col-span-2 rtl:lg:pl-20 ltr:lg:pr-20">
        <a href="{{ link('/') }}" class="flex items-center m-0">
          <h3 class="mb-3 text-lg font-bold lg:mb-5">{{ store.name }}</h3>
        </a>
        {% if store.description %}
        <p class="max-w-sm mb-6 leading-6">
          {{ store.description | raw }}
        </p>
        {% endif %}
        <div class="hidden lg:block">
          <salla-social class="mb-6"></salla-social>
        </div>
      </div>
      <div>
        <h3>{{ trans("blocks.footer.pages_links") }}</h3>
        <salla-menu source="footer"></salla-menu>
      </div>

      <div>
        <salla-contacts></salla-contacts>

        <div class="lg:hidden contact-social">
          <salla-social></salla-social>
        </div>
      </div>
      <salla-apps-icons
        class="lg:col-span-2 rtl:lg:pr-20 ltr:lg:pl-20"
      ></salla-apps-icons>
    </div>
  </div>
</footer>
